torch>=2.6.0
torchvision
torchmetrics
einops>=0.4.1
wandb
pyyaml
pandas
matplotlib
tqdm
opencv-python
omegaconf
fvcore
iopath
lpips
numpy
scikit-learn
plyfile
pyquaternion
rerun-sdk
imageio[ffmpeg]
scikit-image
projectaria-tools
splines
lightning
lightning[pytorch-extra]
natsort
viser>=0.2.3
exifread
gsplat==1.4.0
